.input {
    height: 50px;
    width: 80%;
    border-radius: 12px;
    background-color: white;
    display: flex;
    justify-content: center;
}

input {
    background: none;
    border: none;
    margin-left: 12px;
    flex: 1
}

input:focus {
    outline: none
}

button {
    margin: 8px;
    background-color: rgc(214, 213, 213);
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 50px
}